/* ##### Fonts ##### */
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Share+Tech+Mono");
/* ##### Imports ##### */
/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+php+python+scss */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  max-width: 70vw;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

/* ##### Variables ##### */
/* ##### Mixins ##### */
/* ##### General Styles ##### */
div#banner-2018 {
  background: #3f0d12;
  color: white;
  width: calc(100% - 2em);
  text-align: center;
  padding: 1em; }
  div#banner-2018 a {
    background: white; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", "Playfair Display", serif; }

a {
  text-decoration: none;
  color: #3f0d12;
  background: rgba(255, 255, 255, 0.4);
  border: 2px dashed #3f0d12; }
  a:hover {
    background: white;
    border: 2px solid #3f0d12; }

pre, code {
  overflow-x: scroll;
  font-family: 'Fira Code', monospace;
  background: rgba(255, 255, 255, 0.4); }

pre[class*="language-"] {
  background: #efe7d2; }

html {
  min-height: 100%; }

body {
  font-family: "Share Tech Mono", "Fira Code", monospace;
  background: white;
  background: linear-gradient(to bottom, #e2d3ac, rgba(255, 255, 255, 0.9));
  background-repeat: no-repeat;
  margin: 0; }

.tile {
  color: #3f0d12;
  background: #d5bf86;
  box-shadow: 10px 10px #3f0d12;
  margin: 1.1rem 0;
  padding: 1rem; }
  @media (max-width: 540px) {
    .tile {
      padding: 0.2rem; } }

.hover-tile a {
  display: inline-block;
  background: #d5bf86;
  box-shadow: 10px 10px #3f0d12;
  padding: 1em;
  transition: 0.5s all; }
  .hover-tile a i {
    font-size: 1.9rem;
    color: #3f0d12; }
  .hover-tile a:hover, .hover-tile a:focus {
    color: #3f0d12;
    transform: scale(1.5);
    border: 2px dashed #3f0d12;
    transition: 0.03s all; }
    @media (max-width: 540px) {
      .hover-tile a:hover, .hover-tile a:focus {
        transform: scale(1.2); } }

div.container {
  width: 45vw;
  margin: 0 auto;
  padding: 1rem; }
  @media (max-width: 540px) {
    div.container {
      width: 90vw; } }

header {
  color: #3f0d12;
  margin: 0; }
  header #header-title {
    font-size: 5rem;
    text-align: center;
    margin: 0.5em 0 0; }
    @media (max-width: 540px) {
      header #header-title {
        font-size: 2.5rem; } }
    header #header-title a {
      background: none;
      border: none; }
      header #header-title a:hover {
        text-decoration: underline; }
  header #header-email {
    text-align: center; }

main#introduction p {
  padding: 0 1em; }

section#find-me {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center; }

section#work-index-tile {
  padding: 0; }
  section#work-index-tile a {
    display: block;
    border: none;
    text-align: center;
    padding: 1rem;
    background: #d5bf86; }
    section#work-index-tile a:hover {
      transform: scale(1.2);
      background: #d5bf86; }

section#articles_header {
  border-bottom: 10px solid #3f0d12;
  margin: 3.5rem 0; }
  section#articles_header h2 {
    text-align: center;
    color: #3f0d12; }

.article-tile {
  margin-bottom: 3rem;
  padding: 1.5rem;
  border: none;
  text-decoration: none;
  color: #3f0d12;
  display: block;
  transition: 0.5s all; }
  .article-tile:hover, .article-tile:focus {
    background: #d5bf86;
    transition: 0.03s all;
    border: none; }
  .article-tile i {
    font-size: 1.5rem; }

section#articles_list article {
  transition: 0.5s all; }
  section#articles_list article:hover, section#articles_list article:focus {
    transform: scale(1.1);
    transition: 0.03s all; }

header#article-header {
  border-bottom: 5px solid #3f0d12;
  margin: 2.5rem 0; }

article#article-main {
  background: #d5bf86;
  padding: 1rem;
  color: #3f0d12; }

main#topic-title {
  margin: 2.5rem 0;
  border-bottom: 5px solid #3f0d12; }

section#topic-article-list article:hover, section#topic-article-list article:focus {
  transform: scale(1.1);
  transition: 0.03s all; }

header#work-header {
  border-bottom: 5px solid #3f0d12; }

.work-tile {
  padding: 1rem;
  text-align: center; }
  .work-tile .work-tile-summary {
    margin-bottom: 2rem; }
  .work-tile h3 {
    font-size: 200%; }
  .work-tile img {
    width: 100%; }
