<!doctype html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}{% endblock %}Max Ungless</title>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Max Ungless"/>
        <meta name="description" content="Max Ungless is a potential software developer, 14 years old, who lives in London. Read more about me here."/>
        <meta name="keywords" content="Max Ungless, Ungless, software developer"/>
        <meta name="subject" content="Max Ungless"/>

        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>
    <body>
        <header class="section" id="header">
            <h1 id="header-title"><a href="/">Max Ungless</a></h1>
            <h3 id="header-email"><a href="mailto:max@maxungless.com">max@maxungless.com</a></h3>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>
