{% extends "Blog/base.html" %}

{% block content %}
<div class="container">
    <main class="tile" id="introduction">
        <p>
            I am Max Ungless. I quite like computer programming, amoungst other things. I currently live in London, and do not work full-time due to child labour laws (I must go to school), but I would, if I could! Since I was 6 years old I have been programming, starting (initially) with <a href="http://scratch.mit.edu">Scratch</a> and shortly moved onto HTML and CSS, and ending with the present day, where I have skills in Python (Django, Flask), Go, JavaScript, C, SCSS, Emacs Lisp and Common Lisp.
        </p>
        <p>
            Some things that mean a lot to me include Linux, Free (as in freedom) software, Emacs, programming, fine fountain pens, Spencerian script, and Latin. Feel free to email me about these since I'd love to chat.
        </p>
        <p>
            See <a href="{% url 'article_detail' 'the-mothership' %}">my computer</a> for <i>The Mothership</i>
        </p>
    </main>
    <section class="hover-tile" id="find-me">
        <a href="https://github.com/MaxTheMonster/">
            <div class="">
                <i class="fab fa-github fa-1x" aria-hidden="true"></i>
            </div>
        </a>
        <a href="https://gitlab.com/mlinitaur/">
            <div class="">
                <i class="fab fa-gitlab fa-1x" aria-hidden="true"></i>
            </div>
        </a>
        <a href="https://codepen.io/MaxUngless/">
            <div class="">
                <i class="fab fa-codepen fa-1x" aria-hidden="true"></i>
            </div>
        </a>
    </section>

    <section id="work-index-tile" class="tile hover-tile">
        <a href="{% url 'work' %}">
            <h2><i class="fas fa-briefcase fa-1x" aria-hidden="true"></i> Work</h2>
            <p>Find my work here</p>
        </a>
    </section>
    <section id="articles_header">
        <h2>Articles</h2>
    </section>

    <section id="articles_list">
        {% for article in articles %}
        <article>
            <a href="{{ article.get_absolute_url }}" class="tile article-tile">
                <i class="fas fa-newspaper fa-1x" aria-hidden="true"></i> - <time datetime="{{ article.published }}">{{ article.published|date:'l j, F Y' }}</time>
                <h3>{{ article.title }}</h3>
            </a>
        </article>
        {% endfor %}
    </section>
</div>
{% endblock %}
