{% extends "Blog/base.html" %}

{% block title %}{{ topic.name }} at {% endblock %}

{% block content %}
    <div class="container">
        <main id="topic-title">
            <h2>{{ topic.name }}</h2>
        </main>
        <section id="topic-article-list">
            {% for article in articles %}
                <article>
                    <a href="{{ article.get_absolute_url }}" class="tile article-tile">
                        <i class="fas fa-newspaper fa-1x" aria-hidden="true"></i> - <time datetime="{{ article.published }}">{{ article.published|date:'l j, F Y' }}</time>
                        <h3>{{ article.title }}</h3>
                    </a>
                </article>
            {% endfor %}
        </section>
    </div>
{% endblock %}
