{% extends "Blog/base.html" %}

{% block title %}404 at {% endblock %}

{% block content %}
    <div class="container">
        <h2>A <i>404</i> error has occured!</h2>
        <p>Check the URL. If you think it's totally correct, but this still shows up, email me.</p>
    </div>
{% endblock %}
