/* ##### Fonts ##### */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Share+Tech+Mono');

/* ##### Imports ##### */
@import 'prism';

/* ##### Variables ##### */
$display-font: 'Libre Baskerville', 'Playfair Display', serif;
$content-font: 'Share Tech Mono', 'Fira Code', monospace;

$primary-color: #d5bf86;
$secondary-color: #3f0d12;

$white: rgba(255, 255, 255, 0.9);

$background-gradient: linear-gradient(to bottom, lighten($primary-color, 10%), $white);

$bp-mobile: 540px;
$bp-desktop: 1024px;
$bp-widescreen: 1920px;

$transition: 0.03s all;
$back-transition: 0.5s all;

/* ##### Mixins ##### */
@mixin mobile {
   @media (max-width: #{$bp-mobile}){
    @content;
  }
}

@mixin desktop {
   @media (min-width: #{$bp-desktop}) and (max-width: #{$bp-widescreen}){
    @content;
  }
}

/* ##### General Styles ##### */
div#banner-2018 {
    background: $secondary-color;
    color: white;
    width: calc(100% - 2em);
    text-align: center;
    padding: 1em;
        
    a {
        background: white;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $display-font;
}

a {
    text-decoration: none;
    color: $secondary-color;
    background: rgba(white, 0.4);
    border: 2px dashed $secondary-color;

    &:hover {
        background: white;
        border: 2px solid $secondary-color;
    }
}

pre, code {
    overflow-x: scroll;
    font-family: 'Fira Code', monospace;
    background: rgba($white, 0.4);
}

pre[class*="language-"]{
    background: lighten($primary-color, 20%);
}

html {
    min-height: 100%;
}

body {
    font-family: $content-font;
    background: white;
    background: $background-gradient;
    background-repeat: no-repeat;
    margin: 0;
}

.tile {
    color: $secondary-color;
    background: $primary-color;
    box-shadow: 10px 10px $secondary-color;
    margin: 1.1rem 0;
    padding: 1rem;

    @include mobile {
        padding: 0.2rem;
    }
}

.hover-tile {
    a {
        display: inline-block;
     
        background: $primary-color;
        box-shadow: 10px 10px $secondary-color;
        padding: 1em;
        transition: $back-transition;
        
        i {
            font-size: 1.9rem;
            color: $secondary-color;
        }
        
        &:hover, &:focus {
            color: $secondary-color;
            transform: scale(1.5);
            border: 2px dashed $secondary-color;
            transition: $transition;
            
            @include mobile {
                transform: scale(1.2);
            }
        }
    }
}

div.container {
    width: 45vw;
    margin: 0 auto;
    padding: 1rem;

    @include mobile {
        width: 90vw;
    }
}

header {
    color: $secondary-color;
    margin: 0;
    
    #header-title {
        font-size: 5rem;
        text-align: center;
        margin: 0.5em 0 0;

        @include mobile {
            font-size: 2.5rem;
        }
        
        a {
            background: none;
            border: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    #header-email {
        text-align: center;
    }
}

main#introduction {
    p {
        padding: 0 1em;
    }
}

section#find-me {
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

section#work-index-tile {
    padding: 0;
    
    a {
        display: block;
        border: none;
        text-align: center;
        padding: 1rem;
        background: $primary-color;
        
        &:hover {
            transform: scale(1.2);
            background: $primary-color;
        }
    }
}

section#articles_header {
    border-bottom: 10px solid $secondary-color;
    margin: 3.5rem 0;
    
    h2 {
        text-align: center;
        color: $secondary-color;
    }
}

.article-tile {
    margin-bottom: 3rem;
    padding: 1.5rem;
    border: none;
    text-decoration: none;
    color: $secondary-color;
    display: block;
    transition: $back-transition;
    
    &:hover, &:focus {
        background: $primary-color;
        transition: $transition;
        border: none;
    }

    i {
        font-size: 1.5rem;
    }
}

section#articles_list {
    article {
        transition: $back-transition;
        
        &:hover, &:focus {
            transform: scale(1.1);
            transition: $transition;
        }
    }
}

header#article-header {
    border-bottom: 5px solid $secondary-color;
    margin: 2.5rem 0;
}

article#article-main {
    background: $primary-color;
    padding: 1rem;
    color: $secondary-color;
}

main#topic-title {
    margin: 2.5rem 0;
    border-bottom: 5px solid $secondary-color;
}

section#topic-article-list {
    article {
        &:hover, &:focus {
            transform: scale(1.1);
            transition: $transition;
        }
    }
}

header#work-header {
    border-bottom: 5px solid $secondary-color;
}

.work-tile {
    padding: 1rem;
    text-align: center;

    .work-tile-summary {
        margin-bottom: 2rem;
    }
    
    h3 {
        font-size: 200%;
    }
    
    img {
        width: 100%;
    }
}
